__tests__/
.github/
.husky/
coverage/
node_modules/
src/
.eslintignore
.eslintrc.json
.releaserc.json
.gitignore
.npmignore
jest.config.ts
tsconfig.json
prepublish.js
**/*.bkp
**/*.test.ts
**/*.bak
**/*.tgz
CHANGELOG.md
vite.config.ts
vite.demo.config.ts
index.html
docs/
.releaserc.js
